body {
	background-color: #2d3d57;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.home a {
	text-decoration: none;
	color: #111;
}
nav {
	background-color: #5c6161;
	display: flex;
	margin-bottom: 10px;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
}

.readMeText {
	width: 50%;
	position: relative;
	align-items: center;
	justify-content: left;
	padding: 10px;
	margin: auto;
	border-radius: 10px;
	background-color: #fff;
}

.readMeText p {
	width: 100%;
	font-size: 1.3em;
	text-indent: 2em;
	margin: 10px;
	left: 0;
	text-align: left;
}

.buttonContainer {
	width: 70%;
	height: 100px;
	margin: auto;
	background-color: #8991a3;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	display: flex;
	box-shadow: inset 0px 11px 8px -10px #2d3d57,
		inset 0px -11px 8px -10px #2d3d57;
}

.readMeButton {
	background-color: #2cc9c2;
	color: #2d3d57;
	font-size: 2em;
	padding: 10px;
	text-decoration: none;
	transition: 0.5s;
	box-shadow: inset 0px 11px 8px -10px #8991a3,
		inset 0px -11px 8px -10px #8991a3;
}
.readMeButton.active{
	color: #fff;
	background: #2d3d57;
}

.readMeButton:hover {
	transform: scale(1) translateY(-20%);
	background-color: #3a598c;
	letter-spacing: 1px;
	color: #fff;
}

@media (max-width: 768px) {
	.container {
		width: 80%;
	}
}
